@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


.no-scrollbar {
    scrollbar-width: none;
}


.no-scrollbar {
    -ms-overflow-style: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="number"] {
    -moz-appearance: textfield;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #0B0F19 inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
    transition: background-color 9999s ease-in-out 0s;
}


input {
    background-color: #0B0F19 !important;
}
body {
    margin: 0;
}
